@model studyset.Models.Cronograma

@{
    ViewData["Title"] = "Apagar item do cronograma";
}

<h1>Apagar item</h1>

<h3>Tem certeza de que deseja apagar este item do cronograma?</h3>
<div>
    <h4>Cronograma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConteudoEstudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConteudoEstudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaEstudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaEstudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.NomeUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-info">Voltar</a> |
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
</div>
