@model IEnumerable<studyset.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar novo evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno.NomeUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.NomeUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
